<h1>Questions#ask</h1>

<form action="/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="user_question" placeholder="ask your question here">
  <input type="submit" value="Go on!">
</form>
